{% extends '::layout.html.twig' %}

{% block title %}Админка | Редактирование кроссворда{% endblock %}
{% block body %}

  <style>
    .letter-cell {
      padding: 0;
      border: 1px solid #ccc;
    }
    .letter-cell .letter {
      width: 20px;
      height: 20px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
      outline: none;
      padding: 5px;
      font-size: 18px;
      text-align: center;
      background: #fff;
    }
    .letter-cell-selected .letter {
      background: #eee;
    }
    .coord-num {
      font-size: 11px;
      color: #aaa;
      text-align: center;
      padding-right: 7px;
    }
    .btn-questions {
      margin: 20px 0 40px 20px;
    }
  </style>

  <script>
    $(function () {
      $(".letter-cell").hover(
          function() {
            var x = $(this).data('x');
            var y = $(this).data('y');

            $(".coord-x-" + x).addClass('letter-cell-selected');
            $(".coord-y-" + y).addClass('letter-cell-selected');
          },
          function() {
            var x = $(this).data('x');
            var y = $(this).data('y');

            $(".coord-x-" + x).removeClass('letter-cell-selected');
            $(".coord-y-" + y).removeClass('letter-cell-selected');
          }
      );

      $('.letter').keyup(function(e) {
        saveLetter(e);
        swithPosition(e);
        checkCharCount(e);
      });
      $('.letter').keydown(function(e) {
        swithPosition(e);
        checkCharCount(e);
      });

      function swithPosition(e) {
        var x = $("#" + e.target.id).parent().data('x');
        var y = $("#" + e.target.id).parent().data('y');

        // left
        if (e.which == 37) {
          var newX = x > 1 ? x - 1 : 1;
          $(".letter-" + newX + "-" + y).get(0).focus();
          e.preventDefault();
        }
      }

      function saveLetter(e)
      {
        var letterField = $("#" + e.target.id);
        var data = {
          letter: letterField.text(),
          x:      letterField.parent().data('x'),
          y:      letterField.parent().data('y')
        };

        $.ajax({
          type: "POST",
          url: '{{ path('sc_crossword_admin_add_letter_ajax', {id: crossword.id}) }}',
          data: data,
          dataType: "json",
          success: function(response) {
            if (response.success) {
              $("#crossword-name").val("");
              $("#crossword-width").val("");
              $("#crossword-height").val("");
              $('#create-crossword').modal('hide');
              $(".crossword-list").prepend(response.row);
            } else {

            }
            self.removeClass('disabled');
          },
          error: function(response) {
            self.removeClass('disabled');
          }
        });
      }

      function checkCharCount(e) {
        if (e.which != 8 && e.which != 9 && $("#" + e.target.id).text().length >= 1) {
          e.preventDefault();
        }
      }
    });
  </script>

  <ul class="breadcrumb">
    <li><a href="/">Главная</a> <span class="divider">/</span></li>
    <li><a href="{{ path('sc_crossword_admin_list') }}">Кроссворды</a> <span class="divider">/</span></li>
    <li class="active">{{ crossword.name }}</li>
  </ul>

  <table>
    <tr>
      <td></td>
      {% for x in 1..crossword.width %}
        <td class="coord-num">
          {{ x }}
        </td>
      {% endfor %}
    </tr>
    {% for y in 1..crossword.height %}
      <tr>
        <td class="coord-num">
          {{ y }}
        </td>
        {% for x in 1..crossword.width %}
        <td class="letter-cell coord-x-{{ x }} coord-y-{{ y }}" data-x="{{ x }}" data-y="{{ y }}">
          <div class="letter" id="letter-{{ x }}-{{ y }}" contenteditable="true" maxlength="1">{{ crossword.letterByCoord(x, y) }}</div>
        </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

  <a href="{{ path('sc_crossword_admin_questions', {id: crossword.id}) }}" class="btn btn-primary btn-questions">Перейти к вопросам</a>

{% endblock %}


