{% extends '::layout.html.twig' %}

{% block title %}Админка | Редактирование кроссворда{% endblock %}
{% block body %}

  <style>
    .letter-cell {
      padding: 0;
      border: 1px solid #ccc;
    }
    .letter-cell .letter {
      width: 20px;
      height: 20px;
      outline: none;
      padding: 5px;
      font-size: 18px;
      text-align: center;
      background: #fff;
      position: relative;
    }
    .letter-cell-selected .letter {
      background: #eee;
    }
    .letter-cell-disabled  .letter {
      background: #B1AC9E;
    }
    .letter-cell-disabled {
      border-color: #878378;
    }
    .coord-num {
      font-size: 11px;
      color: #aaa;
      text-align: center;
      padding-right: 7px;
    }
    .btn-questions {
      margin: 20px 0 40px 20px;
    }
    .word-num {
      position: absolute;
      font-size: 11px;
      border-radius: 10px;
      padding: 3px;
      /*border: 1px solid #cab78f;*/
      top: -11px;
      left: -11px;
      width: 14px;
      height: 14px;
      background: #333;
      line-height: 15px;
      color: #fff;
    }
    .questions {
      margin-top: 20px ;
    }
    .btn-questions-save {
      margin: 10px 0 30px 30px;
    }
    .btn-crossword-edit {
      margin-bottom: 20px;
    }
  </style>

  <script>
    $(function () {

      $(".btn-questions-save").click(function(){
        self = $(this);
        var questions = [];
        $(".question").each(function() {
          var question = {
            text:   $(this).val(),
            number: $(this).data('number')
          };
          questions.push(question);
        });

        self.addClass('disabled');

        $.ajax({
          type: "POST",
          url: '{{ path('sc_crossword_admin_questions_save_ajax', {id: crossword.id}) }}',
          data: {questions: questions},
          dataType: "json",
          success: function(response) {
            if (response.success) {
            } else {

            }
            self.removeClass('disabled');
          },
          error: function(response) {
            self.removeClass('disabled');
          }
        });
      });

    });
  </script>


  <ul class="breadcrumb">
    <li><a href="/">Главная</a> <span class="divider">/</span></li>
    <li><a href="{{ path('sc_crossword_admin_list') }}">Кроссворды</a> <span class="divider">/</span></li>
    <li class="active">{{ crossword.name }}</li>
  </ul>

  <a href="{{ path("sc_crossword_admin_edit", {id: crossword.id}) }}" class="btn btn-default btn-small btn-crossword-edit">Вернуться к заполнению слов</a>

  <table>
    <tr>
      <td></td>
      {% for x in 1..crossword.width %}
        <td class="coord-num">
          {{ x }}
        </td>
      {% endfor %}
    </tr>
    {% for y in 1..crossword.height %}
      <tr>
        <td class="coord-num">
          {{ y }}
        </td>
        {% for x in 1..crossword.width %}
          <td class="letter-cell {% if not crossword.hasLetterByCoord(x, y) %} letter-cell-disabled {% endif %} coord-x-{{ x }} coord-y-{{ y }}" data-x="{{ x }}" data-y="{{ y }}">
            <div class="letter" id="letter-{{ x }}-{{ y }}" maxlength="1">
              {% if crossword.isWordStart(x, y) %}
                <div class="word-num">{% for number in crossword.wordNumbers(x, y) %}{{ number }}{% if not loop.last %},{% endif %}{% endfor %}</div>
              {% endif %}
              {{ crossword.letterByCoord(x, y) }}
            </div>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

  <div class="questions">
    {% for number in 1..crossword.wordCount %}
    <div class="row-fluid">
      <div class="span7">
        <div style="float: left; width: 30px;">{{ number }}</div>
        <textarea class="span11 question" data-number="{{ number }}" rows="2">{{ crossword.questionByNumber(number) }}</textarea>
      </div>
    </div>
    {% endfor %}
  </div>

  <button class="btn btn-primary btn-questions-save">Сохранить</button>

{% endblock %}


