<tr>
  <td><a href="{{ path('sc_crossword_admin_edit', {'id' : crossword.id}) }}">{{ crossword.id }}</a></td>
  <td><a href="{{ path('sc_crossword_admin_edit', {'id' : crossword.id}) }}">{{ crossword.name }}</a></td>
  <td>{{ crossword.createdAt|date('d M Y h:i') }}</td>
</tr>