.crossword .letter-cell {
  padding: 0;
  border: 1px solid #969492;
}
.crossword .letter-cell .letter {
  width: 25px;
  height: 25px;
  outline: none;
  padding: 0;
  font-size: 18px;
  text-align: center;
  background: #F3F1EE;
  position: relative;
  line-height: 18px;
}
.crossword .letter-cell-selected .letter {
  background: #eee;
}
.crossword .letter-cell-disabled  .letter {
  background: #000;
}
.crossword .letter-cell-disabled {
  border-color: #000;
}
.crossword .word-num {
  position: absolute;
  font-size: 11px;
  border-radius: 10px;
  padding: 3px;
  /*border: 1px solid #cab78f;*/
  top: -11px;
  left: -11px;
  width: 14px;
  height: 14px;
  background: #55514c;
  line-height: 15px;
  color: #fff;
}
.crossword-wrapper {
  border: 2px solid #000;
  padding: 1px;
  background: #F3F1EE;
  display: inline-block;
  line-height: 0;
}
.crossword-wrapper-border {
  border: 1px solid #000;
  padding: 6px;
  background: #F3F1EE;
  display: inline-block;
  line-height: 0;
}
.crossword {
  border: 2px solid #000;
}
.crossword .letter-input {
  border: 0;
  box-shadow: none;
  border-radius: 0;
  width: 25px;
  height: 25px;
  padding: 0;
  outline: none;
  background: #F3F1EE;
  font-size: 18px;
  text-align: center;
  /*position: relative;*/
  line-height: 18px;
  margin: 0;
  box-sizing: content-box;
  text-transform: lowercase;
}
.crossword .word-selected .letter-input {
  background: #c3c1bf;
}
.crossword-questions .question {
  cursor: pointer;
  padding: 3px 0;
}
.crossword-questions .question:hover {
  background: #eee;
}
.crossword-questions .question span {
  font-weight: bold;
}
.crossword .word-right {
  background: #76DC76 !important;
}
.crossword .word-wrong {
  background: #F38E8E !important;
}